<ion-view view-title="<i class='ion-ios-briefcase'></i> MICROJOBS">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">
         Car for sale - Bmw X5 - 2003
      </div>
      <div class="item item-body">
        <div style="float: right;">
          <img src="http://img26.olx.ro/images_mercadorro/79055782_1_1000x700_bmw-x6-model-2010-brasov.jpg" alt="" style="width: 100px; height: auto;"/>
        </div>
        <ul>
          <li>Year: 2033</li>
          <li>Usage: 82 000 km</li>
          <li>Engine: Diesel</li>
          <li>Price: 4200 $</li>
        </ul>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Iphone 6 for sale - never used
      </div>
      <div class="item item-body">
        <div style="float: right;">
          <img src="http://img34.olx.ro/images_mercadorro/82134472_4_644x461_iphone-6-16gb-negru-neverlocked-electronice-si-electrocasnice_rev012.jpg" alt="" style="width: 70px; height: auto;"/>
        </div>
        <p style="padding-right: 25px;">
          All phones are neverlocked network -libere<br />
          All phones are accompanied by data cable and charger (30 days warranty on accessories)<br />
          <br />
          All phones are original 100%<br />
          They checked down to the smallest detail!<br />
          Ensure they do not walk in them!<br />
          Ensure that there are recarosate<br />
        </p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        HP Pavilion DV6 / Intel Core i7 / Radeon 6770M 2Gb / Beats Audio
      </div>
      <div class="item item-body">
        <div style="float: right;">
          <img src="http://img10.olx.ro/images_mercadorro/85754070_8_644x461_hp-pavilion-dv6-intel-core-i7-radeon-6770m-2gb-beats-audio-.jpg" alt="" style="width: 120px; height: auto; margin-left: 15px;"/>
        </div>
        <p style="padding-right: 25px;">
          The laptop looks and works very well! Battery lasts about 5 hours! <br />
          All pictures are real!<br />
          It is sold with original charger!<br />
          <br />
          Configuration:<br />
          Intel Core i7-2630QM 2.9GHz -process (quad core processor with hyperthreading - 8 cores)<br />
          Uneven Intel HD 3000 integrated video<br />
          Uneven dedicated AMD Radeon HD 6770M video 2GB<br />
          500GB -HDD<br />
          -6GB DDR3 RAM<br />
          15.6 inch LED -DISplay<br />
          -Sound Beats Audio
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
